# Google Apps Script Web App URL untuk integrasi upload ke Google Drive
APP_SCRIPT_URL="https://script.google.com/macros/s/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx/exec"

# Token Bot Discord (dari Discord Developer Portal)
DISCORD_BOT_TOKEN=""

# (Opsional) ID Channel Discord jika ingin bot otomatis mengirim Control Panel ke channel tertentu saat online
DISCORD_CHANNEL_ID=""
